Flask==0.12
Flask-Bootstrap==3.3.7.0
Flask-SQLAlchemy==2.2
Flask-WTF==0.14
Flask-Moment==0.5.1
SQLAlchemy==1.1.6
WTForms==2.1
blinker==1.4
psycopg2==2.7
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Mako==1.0.6
alembic==0.9.1
python-editor==1.0.3