{% extends 'base.html' %}
{% import '_macros.html' as macros %}

{% block title %}Севрера{% endblock %}

{% block page_content %}
    <div class="page-header">
        <div class="row">
            <div class="col-md-6">
                <h1>Сервера <a href="{{ url_for('servers.create', id_dc=id_dc) }}" class="btn btn-success">Добавить</a></h1>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <form method="get" class="form-search" style=" margin-top: 30px">
                    <input type="search" name="search" placeholder="Поиск по имени" class=" search-query" />
                    <input type="submit" name="" value="Поиск" class="btn btn-primary " />
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название
                                    {% if request.args.get('sort') == None or (request.args.get('sort') != 'name_asc' and request.args.get('sort') != 'name_desc' and request.args.get('sort'))%}
                                        <a href="{{ url_for('servers.index', sort='name_asc', id_dc=id_dc) }}{% if request.args.get('search') %}&search={{ request.args.get('search') }}{% endif %}"><i class='glyphicon glyphicon-resize-full' style="float: right"></i></a>
                                    {% endif %}

                                    {% if request.args.get('sort') == 'name_asc' %}
                                        <a href="{{ url_for('servers.index', sort='name_desc', id_dc=id_dc ) }}{% if request.args.get('search') %}&search={{ request.args.get('search') }}{% endif %}"><i class='glyphicon glyphicon-triangle-top' style="float: right"></i></a>
                                    {% elif request.args.get('sort') == 'name_desc' %}
                                        <a href="{{ url_for('servers.index', sort='name_asc', id_dc=id_dc) }}{% if request.args.get('search') %}&search={{ request.args.get('search') }}{% endif %}"><i class='glyphicon glyphicon-triangle-bottom' style="float: right"></i></a>
                                    {% endif %}</th>
                        <th>Производитель
                                    {% if request.args.get('sort') == None or (request.args.get('sort') != 'manufacturer_asc' and request.args.get('sort') != 'manufacturer_desc' and  request.args.get('sort')) %}
                                        <a href="{{ url_for('servers.index', sort='manufacturer_asc', id_dc=id_dc) }}{% if request.args.get('search') %}&search={{ request.args.get('search') }}{% endif %}"><i class='glyphicon glyphicon-resize-full' style="float: right"></i></a>
                                    {% endif %}
                                    {% if request.args.get('sort') == 'manufacturer_asc' %}
                                        <a href="{{ url_for('servers.index', sort='manufacturer_desc', id_dc=id_dc) }}{% if request.args.get('search') %}&search={{ request.args.get('search') }}{% endif %}"><i class='glyphicon glyphicon-triangle-top' style="float: right"></i></a>
                                    {% elif request.args.get('sort') == 'manufacturer_desc' %}
                                        <a href="{{ url_for('servers.index', sort='manufacturer_asc', id_dc=id_dc) }}{% if request.args.get('search') %}&search={{ request.args.get('search') }}{% endif %}"><i class='glyphicon glyphicon-triangle-bottom' style="float: right"></i></a>
                                    {% endif %}
                        </th>
                        <th>Модель</th>
                        <th>Серийный номер</th>
                        <th>ОС</th>
                        <th>Действия</th>
                    <tr>
                </thead>
                <tbody>
                    {% for sv in servers %}
                    <tr>
                        <td style="max-width: 200px; text-overflow: ellipsis; overflow: hidden">{{ sv.name }}</td>
                        <td style="max-width: 200px; text-overflow: ellipsis; overflow: hidden">{{ sv.manufacturer }}</td>
                        <td>{{ sv.model }}</td>
                        <td>{{ sv.serial_number }}</td>
                        <td>{{ sv.os }}</td>
                        <td>
                            <a href="{{ url_for('servers.edit', id_dc=id_dc, id_sv=sv.id) }}">Редактировать</a><br>
                            <a href="{{ url_for('servers.delete', id_dc=id_dc, id_sv=sv.id) }}">Удалить</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination">
        {{ macros.pagination_widget_server(pagination, '.index', id_dc, search) }}
    </div>
{% endblock %}