{% macro pagination_widget(pagination, endpoint) %}
    <ul class="pagination">
        <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
            <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">
                &laquo;
            </a>
        </li>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p == pagination.page %}
                    <li class="active">
                        <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for(endpoint, page=p, **kwargs) }}">{{ p }}</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li {% if not pagination.has_next %}class="disabled"{% endif %}>
            <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">
                &raquo;
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro pagination_widget_server(pagination, endpoint, id_dc, search) %}
    <ul class="pagination">
        <li {% if not pagination.has_prev %} class="disabled" {% endif %}>
            <a href="{% if pagination.has_prev %}
                        {% if  request.args.get('sort_manufacturer')  %}
                            {% if request.args.get('search') %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page - 1, sort_manufacturer=request.args.get('sort_manufacturer'), search=request.args.get('search'), **kwargs) }}
                            {% else %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page - 1, sort_manufacturer=request.args.get('sort_manufacturer'), **kwargs) }}
                            {% endif %}
                        {% elif  request.args.get('sort_name') %}
                            {% if request.args.get('search') %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page - 1, sort_name=request.args.get('sort_name'), search=request.args.get('search'),**kwargs) }}
                            {% else %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page - 1, sort_name=request.args.get('sort_name'),**kwargs) }}
                            {% endif %}
                        {% else %}
                            {% if request.args.get('search') %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page - 1, search=request.args.get('search'),  **kwargs) }}
                            {% else %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page - 1, **kwargs) }}
                            {% endif %}
                        {% endif %}
                     {% else %}#{% endif %}">
                &laquo;
            </a>
        </li>
        {% for p in pagination.iter_pages() %}
            {% if p %}
                {% if p == pagination.page %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                        <a href="{% if request.args.get('sort_manufacturer')  %}
                            {% if request.args.get('search') %}
                                {{ url_for(endpoint, id_dc=id_dc, page=p, sort_manufacturer=request.args.get('sort_manufacturer'), search=request.args.get('search'), **kwargs) }}
                            {% else %}
                                {{ url_for(endpoint, id_dc=id_dc, page=p, sort_manufacturer=request.args.get('sort_manufacturer'), **kwargs) }}
                            {% endif %}
                        {% elif  request.args.get('sort_name') %}
                            {% if request.args.get('search') %}
                                {{ url_for(endpoint, id_dc=id_dc, page=p, sort_name=request.args.get('sort_name'), search=request.args.get('search'), **kwargs) }}
                            {% else %}
                                {{ url_for(endpoint, id_dc=id_dc, page=p, sort_name=request.args.get('sort_name'), **kwargs) }}
                            {% endif %}
                        {% else %}
                            {% if request.args.get('search') %}
                                {{ url_for(endpoint, id_dc=id_dc, page=p, search=request.args.get('search'), **kwargs) }}
                            {% else %}
                                {{ url_for(endpoint, id_dc=id_dc, page=p, **kwargs) }}
                            {% endif %}
                        {% endif %}">{{ p }}</a>
                    </li>
            {% else %}
                <li class="disabled"><a href="#">&hellip;</a></li>
            {% endif %}
        {% endfor %}
        <li {% if not pagination.has_next %}class="disabled"{% endif %}>
            <a href="{% if pagination.has_next %}{% if  request.args.get('sort_manufacturer')  %}
                            {% if request.args.get('search') %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page + 1, sort_manufacturer=request.args.get('sort_manufacturer'), search=request.args.get('search'), **kwargs) }}
                            {% else %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page + 1, sort_manufacturer=request.args.get('sort_manufacturer'), **kwargs) }}
                            {% endif %}
                        {% elif  request.args.get('sort_name') %}
                            {% if request.args.get('search') %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page + 1, sort_name=request.args.get('sort_name'), search=request.args.get('search'),**kwargs) }}
                            {% else %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page + 1, sort_name=request.args.get('sort_name'),**kwargs) }}
                            {% endif %}
                        {% else %}
                            {% if request.args.get('search') %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page + 1, search=request.args.get('search'),  **kwargs) }}
                            {% else %}
                                {{ url_for(endpoint, id_dc=id_dc, page=pagination.page + 1, **kwargs) }}
                            {% endif %}
                        {% endif %}
                     {% else %}#{% endif %}">
                &raquo;
            </a>
        </li>
    </ul>
{% endmacro %}